.footer {
  /* background-color: #106011; */
  background-color: #f1f1f1;
  color: gray;
  min-width: 300px;
  padding: 20px 20px;
  text-align: left;
  bottom: 0px;
}
.footer .title{
  margin:0px;
}
.footer .col-3, .footer .col-2{
  align-self: flex-start;
} 
.footer a{
  color: gray;
}
.footer a:hover{
  color: black;
}
.footer .title{
  color: black;
  height: 30px;
}
.footer-logo{
  text-align: center;
}
.footer-logo img {
  max-width: 200px;
  max-height: 170px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-link li {
  width: 100%;
  padding: 5px;
  margin-left: -44px;
}

.footer-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding-top: 10px;
  text-align: left;
  list-style: none;
}

.footer-link li {
  font-family: "Julius Sans One";
  padding-bottom: 5px;
  font-size: 12px;
}
.social-links{
  justify-content: center !important;
}
.social-links img{
width: 20px;
height: 20px;
margin: 5px;
}